.page {
    background-color: #F5F5F5;
    color: #757575;
}

/* Стилі та кольори акценту */
.accent {
    color: #FFFFFF;

}

/* Видаляємо маркери */
ul {
    list-style: none;
}

/* Стилізація логотипу */
.logo {
    color: rgba(0, 0, 0, 1);
}

.logo-blue {
    color: rgba(33, 150, 243, 1)
}

/* стилізація навігації по сайту */
.site-nav .link {
    color: #212121;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: #2196F3;
}

.site-cont .link {
    color: #212121;
}

.site-cont .link:hover,
.site-cont .link:focus {
    color: #2196F3;
}

/* стилізація основного банеру */
.back-color {
    background-color: #2F303A;
}

.hero-title {
    color: #FFFFFF;
}

.bttn-back {
    background-color: #2196F3;
}

/* Стилізація контактів */
.site-cont {}


/* стилізація секцій */
.section {}

.section-title {
    color: #212121;
}


/* цвет фона #F5F5F5 */
/* вторичный цвет фона #F5F4FA */
/* цвет заголовков текста  #212121;  */
/* цвет основного текста  #757575; */
/* цвет светлого текста #FFFFFF  */
/* цвет ссылки #2196F3 */
/* цвет контактов rgba(255, 255, 255, 0.6); */
/* цвет синей части лого rgba(33, 150, 243, 1) */
/* цвет белой части лого rgba(255, 255, 255, 1) */